.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.drop-zone {
  width: 1150px;
  height: 100%;
  padding: 10px;

  /*display: grid;*/
  /*position: relative;*/
  margin: auto;

}

.entity-background{
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightyellow;
  color: black;
  width: 120px;
  height: 70px;
  position: relative;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  /*user-select: none;*/

}
.entity{
  /*border: 1px solid #ccc;*/

  background-color: lightyellow;
  color: black;
  width: 100px;
  height: 50px;
  cursor: grab;
  /*user-select: none;*/

}

.entity-button{
border-radius: 100%;
  position: absolute;
  top: -5px;
  right: 5px;
  margin: auto;
  cursor: pointer;
}
.entity-text{
  text-align: center;

}


.entity-drag-item {
  background-color: lightyellow; /* Background color for the items */
  color: black; /* Text color */
  padding: 6px; /* Padding inside the items */
  width: 120px;
  height: 70px;
  border-radius: 5px; /* Rounded corners */
  display: flex;
  justify-content: center; /* Center align the text horizontally */
  align-items: center; /* Center align the text vertically */
  text-align: center;
  /*transition: transform 0.2s; !* Smooth transformation on hover *!*/
}
.weak-entity{
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightyellow;
  color: black;
  width: 120px;
  height: 70px;
  position: absolute;
  cursor: grab;
  user-select: none;
  box-shadow: inset 0px 0px 1px 3px black;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.weak-entity-button{
  border-radius: 100%;
  position: absolute;
  top: -5px;
  right: 5px;
  margin: auto;
  cursor: pointer;
}
.weak-entity-text{
  text-align: center;
  /*position: absolute;*/
  margin-top: 23px;


}

.weak-entity-drag-item {
  background-color: lightyellow; /* Background color for the items */
  color: black; /* Text color */
  padding: 6px; /* Padding inside the items */
  width: 120px;
  height: 70px;
  border-radius: 5px; /* Rounded corners */
  display: flex;
  justify-content: center; /* Center align the text horizontally */
  align-items: center; /* Center align the text vertically */
  text-align: center;
  transition: transform 0.2s; /* Smooth transformation on hover */
  box-shadow: inset 0px 0px 1px 3px black;
}


.relationship-background{
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightgreen;
  color: black;
  width: 70px;
  height: 70px;
  position: relative;
  cursor: grab;
  user-select: none;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;

}

.relationship{
  /*border: 1px solid #ccc;*/
  /*borderRadius: 5px;*/
  background-color: lightgreen;
  color: black;
  width: 50px;
  height: 50px;
  cursor: grab;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.relationship-text{
  font-size: 12px;
  position: absolute;
  transform: rotate(-45deg);

}
.relationship-drag-item {
  background-color: lightgreen; /* Background color for the items */
  color: black; /* Text color */
  padding: 6px; /* Padding inside the items */
  width: 70px;
  height: 70px;
  border-radius: 5px; /* Rounded corners */
  display: flex;
  justify-content: center; /* Center align the text horizontally */
  align-items: center; /* Center align the text vertically */
  text-align: center;

  transition: transform 0.2s; /* Smooth transformation on hover */
  transform: rotate(45deg);
  /*box-shadow: inset 0px 0px 1px 3px black;*/
}

.relationship-drag-item-text {
  font-size: 12px;
  position: absolute;
  transform: rotate(-45deg);
}


.weak-relationship{
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightgreen;
  color: black;
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: grab;
  user-select: none;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 1px 2px black;
}

.weak-relationship-button{
  border-radius: 100%;
  position: absolute;
  top: -1px;
  left: 6px;
  margin: auto;
  cursor: pointer;
  transform: rotate(-45deg);
}
.weak-relationship-text{
  text-align: center;
  font-size: 12px;
  position: absolute;
  transform: rotate(-45deg);

}
.weak-relationship-drag-item {
  background-color: lightgreen; /* Background color for the items */
  color: black; /* Text color */
  padding: 6px; /* Padding inside the items */
  width: 70px;
  height: 70px;
  border-radius: 5px; /* Rounded corners */
  display: flex;
  justify-content: center; /* Center align the text horizontally */
  align-items: center; /* Center align the text vertically */
  text-align: center;
  box-shadow: inset 0px 0px 1px 2px black;
  transition: transform 0.2s; /* Smooth transformation on hover */
  transform: rotate(45deg);
  /*box-shadow: inset 0px 0px 1px 3px black;*/
}

.weak-relationship-drag-item-text {
  font-size: 12px;
  position: absolute;
  transform: rotate(-45deg);
}
.attribute{
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightsalmon;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 60px;
  position: absolute;
  cursor: grab;
  user-select: none;
  /*transform: rotate(45deg);*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.attribute-button{
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 10px;
  /*margin: auto;*/
  cursor: pointer;
  font-size: 12px;
  /*transform: rotate(-45deg);*/
}
.attribute-text{
  font-size: 12px;
  position: absolute;

}
.attribute-drag-item {
  border: 1px solid #ccc;
  borderRadius: 5px;
  background-color: lightsalmon;
  padding: 6px;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 60px;
  cursor: grab;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribute-drag-item-text {
  font-size: 16px;
  position: absolute;
  margin-top: 12px;
}






.pallet{
  width: 300px;
  background-color: lightgray;
  margin-right: 20px;
  display: grid;

  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); !* Adjust the min width of the items *!*/
  /*gap: 12px; !* Space between items *!*/
  padding: 20px; /* Padding around the pallet */
  /*background-color: #f9f9f9; !* Light background color for the pallet *!*/
  border-radius: 8px; /* Rounded corners */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
.pallet h2 {
  grid-column: span 2; /* Make the heading span across the columns */
  margin-bottom: 5px;
  text-align: center; /* Center align the heading */
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}


.dragging {
  background-color: #f0f0f0;
}



.box-text{
  display: flex;
  align-content: center;
  left: 500px;
}
.zone{
  width: 1150px;
  border: 3px solid black;
  height: 650px;
}
.page{
  display: flex;
  float: left;
}
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

/* src/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  right: -350px;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  margin-top: 50px;
}

.sidebar.open {
  right: 0px;
}

.sd-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


.handle{
  width: 20px;
  height: 20px;
}

/* src/App.css */
.custom-edge-path {
  stroke: #222;
  stroke-width: 2px;
  cursor: pointer;
}