.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.drop-zone {
  width: 1200px;
  height: 700px;
  border: 2px dashed #ccc;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display:block;

}

.dragging {
  background-color: #f0f0f0;
}

#drag-item {
  width: 100px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  margin: 10px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.pallet{
width: 300px;
background-color: green;
margin-right: 20px;
}

.zone{

}
.page{
  display: flex;
  float: left;
}
